main{
    width: 90%;
    margin: 0 auto;
    &.parrafo {
    font-family: map-get($estiloParrafo,$fuente);
    font-weight: map-get($estiloParrafo, 900);
    font-size: map-get($estiloParrafo, 1.5rem);
    letter-spacing: map-get($estiloParrafo, 2rem);
    word-spacing: 5px;
    margin: map-get ($estiloParrafo, 2px);
    & h1 {
        word-spacing: 10px;
        font-family: map-get($estiloParrafo, $fuenteTitulo);
        color: map-get($estiloParrafo,rgb(0, 0, 0));
        letter-spacing: map-get($estiloParrafo, 2rem);
        font-weight: map-get($estiloParrafo, 900);
        font-size: map-get($estiloParrafo, 1rem);
        margin-top: map-get($estiloParrafo, 2px);
        margin-bottom: map-get($estiloParrafo, 2px);
        text-align: map-get($estiloParrafo, center);
        & h2 {
        font-size: map-get($estiloParrafo, 2rem);
        font-family: map-get($estiloParrafo, $fuenteTitulo);
        font-weight: map-get($estiloParrafo, 900);
        letter-spacing: map-get($estiloParrafo, 1rem); 
        word-spacing: 5px;
        margin-top: map-get($estiloParrafo, 2px);
        margin-bottom: map-get($estiloParrafo, 2px);
        }
    }
}
}

       